{% extends 'polls/layout.html' %}

{% block title %}Редактирование позиций{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Редактирование позиций</h1><br>
    </div>
    <div class="rightcontainer">
         <table class="table table-bordered">
            <thead>
                <tr>
                    <th >№</th>
                    <th >Продукт</th>
                    <th >Паллет</th>
                    <th >Количество</th>
                    <th >Дата</th>
                </tr>
            </thead>
                <tr>
                    <th scope="row">2</th>
                    <td>Aye</td>
                    <td>Aye2</td>
                    <td>Aye</td>
                    <td>Aye2</td>
                </tr>
         </table>
    </div>
{% endblock %}