{% extends 'polls/layout.html' %}

{% block title %}Позиции{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Инвентарные позиции</h1><br>
    </div>
    <div class="rightcontainer">
         <table class="table table-bordered">
            <thead>
                <tr>
                    <th >№</th>
                    <th >Продукт</th>
                    <th >Паллет</th>
                    <th >Количество</th>
                    <th >Дата</th>
                </tr>
            </thead>
             <tr>
                <th scope="row">1</th>
                <td>Напиток Coca-Cola</td>
                <td>P_1234</td>
                <td>50</td>
                <td>2021-10-01 14:30:00</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Шоколад Alpen Gold</td>
                <td>P_2345</td>
                <td>25</td>
                <td>2021-10-02 10:00:00</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Суп Knorr</td>
                <td>P_3456</td>
                <td>40</td>
                <td>2021-10-03 16:45:00</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Макароны Barilla</td>
                <td>P_4567</td>
                <td>30</td>
                <td>2021-10-04 12:15:00</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Сыр Gouda</td>
                <td>P_5678</td>
                <td>15</td>
                <td>2021-10-05 09:30:00</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Колбаса Докторская</td>
                <td>P_6789</td>
                <td>20</td>
                <td>2021-10-06 11:45:00</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Молоко Простоквашино</td>
                <td>P_7890</td>
                <td>45</td>
                <td>2021-10-07 17:00:00</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Хлеб Бородинский</td>
                <td>P_8901</td>
                <td>35</td>
                <td>2021-10-08 13:30:00</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Йогурт Activia</td>
                <td>P_9012</td>
                <td>60</td>
                <td>2021-10-09 08:00:00</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Сок Rich</td>
                <td>P_0123</td>
                <td>55</td>
                <td>2021-10-10 15:15:00</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Масло сливочное Молочная страна</td>
                <td>P_2341</td>
                <td>20</td>
                <td>2021-10-11 10:30:00</td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Кетчуп Heinz</td>
                <td>P_3412</td>
                <td>15</td>
                <td>2021-10-12 11:00:00</td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>Колбаса Венская</td>
                <td>P_4123</td>
                <td>30</td>
                <td>2021-10-13 14:15:00</td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>Картофель Lay's</td>
                <td>P_1234</td>
                <td>40</td>
                <td>2021-10-14 16:45:00</td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td>Сок Сандора</td>
                <td>P_2345</td>
                <td>50</td>
                <td>2021-10-15 09:30:00</td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td>Макароны Riso Scotti</td>
                <td>P_3456</td>
                <td>25</td>
                <td>2021-10-16 12:00:00</td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td>Кола Pepsi</td>
                <td>P_4567</td>
                <td>60</td>
                <td>2021-10-17 08:00:00</td>
            </tr>
            <tr>
                <th scope="row">18</th>
                <td>Чай Lipton</td>
                <td>P_5678</td>
                <td>35</td>
                <td>2021-10-18 13:30:00</td>
            </tr>
            <tr>
                <th scope="row">19</th>
                <td>Рис Jasmine</td>
                <td>P_6789</td>
                <td>45</td>
                <td>2021-10-19 17:00:00</td>
            </tr>
            <tr>
                <th scope="row">20</th>
                <td>Сухарики Крупа</td>
                <td>P_7890</td>
                <td>55</td>
                <td>2021-10-20 15:15:00</td>
            </tr>
         </table>
    </div>
{% endblock %}