{% extends 'polls/layout.html' %}

{% block title %}Позиции{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Инвентарные позиции</h1><br>
    </div>
    <div style="float: left;">
     <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Продукт</th>
                <th scope="col">Паллет</th>
                <th scope="col">Количество</th>
                <th scope="col">Дата</th>
            </tr>
        </thead>

                <tr>
                    <th scope="row">2</th>
                    <td>Aye</td>
                    <td>Aye2</td>
                </tr>
     </table>
    </div>
{% endblock %}